In [6]:
import numpy as np
import pandas as pd

In [7]:
x = np.array([1, 2, 3, 4, 5])
y = np.array([5, 7, 9, 11, 13])

In [8]:
iteration = 10
m_curr = b_curr = 0
n = len(x)
learning_rate = 0.08
for i in range(iteration):
    y_predicted = m_curr * x + b_curr
    cost = (1/n) * sum(val ** 2 for val in (y-y_predicted))
    md = -(2/n) * sum(x*(y-y_predicted))
    bd = -(2/n) * sum(y-y_predicted)
    m_curr = m_curr - learning_rate * md
    b_curr = b_curr - learning_rate * bd
    print("m {}, b {}, cost {} iteration {}".format(m_curr, b_curr, cost,  i))

m 4.96, b 1.44, cost 89.0 iteration 0
m 0.4991999999999983, b 0.26879999999999993, cost 71.10560000000002 iteration 1
m 4.451584000000002, b 1.426176000000001, cost 56.8297702400001 iteration 2
m 0.892231679999997, b 0.5012275199999995, cost 45.43965675929613 iteration 3
m 4.041314713600002, b 1.432759910400001, cost 36.35088701894832 iteration 4
m 1.2008760606719973, b 0.7036872622079998, cost 29.097483330142282 iteration 5
m 3.7095643080294423, b 1.4546767911321612, cost 23.307872849944438 iteration 6
m 1.4424862661541864, b 0.881337636696883, cost 18.685758762535738 iteration 7
m 3.4406683721083144, b 1.4879302070713722, cost 14.994867596913156 iteration 8
m 1.6308855378034224, b 1.0383405553279617, cost 12.046787238456794 iteration 9

In [9]:
df = pd.read_csv("C:\\Users\\Pranav Mahesh\\Downloads\\test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [40]:
x = np.array(df.math)
y = np.array(df.cs)
n = len(x)
m_curr = b_curr = 0
iterations = 10
learning_rate = 0.0002
for i in range(iterations):
    y_predicted = m_curr * x + b_curr
    md = -(2/n) * sum(x*(y-y_predicted))
    bd = -(2/n) * sum(y-y_predicted)
    m_curr = m_curr - learning_rate * md
    b_curr = b_curr - learning_rate * bd
    cost = (1/n) * sum(val ** 2 for val in (y-y_predicted))
    if cost <= 1e-20:
        break;
    print("m {}, b {}, cost {} iteration {}".format(m_curr, b_curr, cost,  i))

m 1.9783600000000003, b 0.027960000000000002, cost 5199.1 iteration 0
m 0.20975041279999962, b 0.0030470367999999894, cost 4161.482445460163 iteration 1
m 1.7908456142986242, b 0.025401286955264, cost 3332.2237319269248 iteration 2
m 0.37738163667530467, b 0.005499731626422651, cost 2669.4843523161976 iteration 3
m 1.6409848166378898, b 0.023373894401807944, cost 2139.826383775145 iteration 4
m 0.5113514173939655, b 0.0074774305434828076, cost 1716.5264071567592 iteration 5
m 1.5212165764726306, b 0.021771129698498662, cost 1378.2272007804495 iteration 6
m 0.6184191426785134, b 0.009075514323270572, cost 1107.8601808918404 iteration 7
m 1.4254981563597626, b 0.020507724625171385, cost 891.7842215178443 iteration 8
m 0.7039868810749315, b 0.010370210797388455, cost 719.0974036421305 iteration 9